{% extends '_base.html' %}
{% load wagtailimages_tags %}

{% block title %}Blog Listing{% endblock title %}

{% block content %}

    <div class="row mt-4">
        {% for card in cmsblog %}
            <div class="col-md-12">
                <div class="card mb-3 text-center card-common">
                    <div class="card-header">
                        <a href="{{ card.url }}">
                            <h5 class="card-title pb-0 mb-0">{{ card.title }}</h5>
                        </a>
                    </div>
                    <div class="card-body text-muted py-3 px-3">
                        {% comment %} <a href="{{ card.url }}"> {% endcomment %}
                            {% if card.preamble  %}
                                <p class="mb-0">{{ card.preamble }}</p>
                            {% endif %}
                        {% comment %} </a> {% endcomment %}
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>

{% endblock content %}