{% extends '_base.html' %}
{% load static %}

{% block title %}About{% endblock title %}

{% block content %}

<h1>About Page</h1>

    <div class='rounded'>
        <p><img src="{% static 'images/tech-icon-2.png' %}" /></p>
    </div>
    <div class='container text-muted'>
        <p>Hi I’m David, an Aerospace Systems Engineer for 20 years, I have recently
        started developing software with MATLAB, Python and Django. 
        This is my personal site and using this as a test platform for
        features and deployment.</p>

        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
        Nunc ullamcorper tristique quam, sit amet viverra quam. 
        Ut cursus sagittis tempus. Donec cursus nulla ac odio condimentum, 
        commodo suscipit dui fermentum. Nulla hendrerit est pellentesque eleifend viverra. 
        Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; 
        Integer egestas lectus sed commodo aliquam. Donec hendrerit dignissim libero, 
        non pretium velit dapibus non.</p>

    </div>

{% endblock content %}