{% extends '_base.html' %}
{% load static %}

{% block title %}About{% endblock title %}

{% block content %}

    <div class='container text-center'>
        <p><img class='rounded mb-4' src="{% static 'images/cover-picture.jpg' %}" /></p>
    </div>
    <div class='container text-muted mb-4'>
        <p>I’m David Mitchell (no not that one!), and I use MATLAB, Python and Django for web design and data analysis.
        This is my personal site to document experiences and anything I find useful. It is also a test platform for
        features and deployment.</p>

        <p>I have been a Systems Engineer for 20 years mostly in Aeropsace.
        Starting at Marshall of Cambridge Aerospace, I moved to building airships at
        Hybrid Air Vehicles, with the documentary worth a watch on 
        <a href="https://sparksflymedia.co.uk/story-of-airlander-shop/">DVD</a> or
        <a href="https://www.amazon.com/The-Story-of-Airlander/dp/B088PBLSQX">Amazon</a>.</p>
        
        <p>This site contains my personal opinionated views and hopefully they will help with issues you may be having.
        If you have any comments, please get in touch.</p>

    </div>

{% endblock content %}