{% extends '_base.html' %}
{% load static %}

{% block title %}About{% endblock title %}

{% block content %}

    <div class='container text-center'>
        <p><img class='rounded mb-4' src="{% static 'images/cover-picture.jpg' %}" /></p>
    </div>
    <div class='container text-muted mb-4'>
        <p>I’m David Mitchell, and I have been a Systems Engineer for 20 years. I have
        started developing with MATLAB, Python and Django and this is my personal site 
        to document experiences and anything I found useful. It is also a test platform for
        features and deployment.</p>

        <p>This site contains my personal opinionated views and hopefully they will help with issues you may be having.
        Please take all advice with a pinch of salt and
        if there is a better way of doing something, please get in touch.</p>

    </div>

{% endblock content %}