body {
	margin-bottom: 40px; /* Margin bottom by footer height */
	background-color: #EAEAEA;
	font-family: 'Montserrat', sans-serif;
	position: relative;
	padding-bottom: 72px;
	margin-bottom: -56px;
	min-height: 100vh;
}

body.home {
	background-image: url(/static/images/jake-hills-mI02K_LxlfU-unsplash.jpg);
	background-position: center center;
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: cover;
	background-color: #464646;
}

h1 {
    color: rgb(0, 113, 188);
}

pre {
    overflow: auto;
}

/* .landing {
	background-image: url(/static/images/jake-hills-mI02K_LxlfU-unsplash.jpg);
	background-position: center center;
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: cover;
	background-color: #464646;
	min-height: 100vh;
	min-width: 100vw;
} */

.code-block {
	color:  rgb(255, 255, 255);
	background-color: rgb(206, 206, 206);
}

.card-common {
	box-shadow: 1px 2px 5px #999;
	transition: all .4s;
}

.card-common:hover{
	box-shadow: 2px 3px 15px #999;
	transform: translateY(-1px);
}

  .rounded {
	border: 1px solid #ddd;
	border-radius: 4px;
	padding: 5px;
	width: auto;
	height: 200px;
	box-shadow: 0 0 2px 1px rgba(0, 140, 186, 0.5);
  }

.footer {
	position: absolute;
	bottom: 0;
	width: 100%;
	height: 56px;
	background-color: #D4D4D4;
	padding: 20px;
}
